body {
    height: 100vh;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

a {
    color: hotpink;
}

#index {
    box-sizing: border-box;
}

.app {
    height: 100%;
    width: 100%;
    padding: 2em;
    color: #FFF7EF;
    background-color: #314459; /*Color.PickledBluewood*/
}

.sheet {
    height: 100%;
    width: 100%;
    display: grid;
    border: 1px solid black;
    border-radius: 1em 1em 0em 0em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    grid-template-rows: auto 1fr;
}

.sheet-header {
    border-radius: 1em 1em 0em 0em;
    display: grid;
    align-self: start;
    grid-row: 1;
    background-color: #323232 /*Mine Shaft*/
}

.sheet-body {
    grid-row: 2;
    background-color: #514649 /*Emperor*/;
}