body {
    font-family: 'IBM Plex', sans-serif;
    line-height: 2em;
}

a {
    color: hotpink;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex', sans-serif;
    font-weight: bold;
    line-height: 1.3em;
    color: #dd6892;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #000;
    padding: 3px 4px;
    border-radius: 3px;
}

.default {
    background-color: #2C2C3B;
    color: #eae9e9
}

/* Two-column layout */
.left-column {
    color: #dd6892;
    width: 30%;
    height: 92%;
    float: left;
    padding-right: 1em;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
    color: #ffd5d5;
}

.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}

.accent {
    color: greenyellow;
}

.mono {
    color: yellow;
    font-family: 'Ubuntu Mono', monospace;
}
.yellow {
    color: yellow;
}

.mid {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.footer {
    color: #85858D;
    position: fixed;
    top: 95%;
    left: 0;
    text-align: center;
    width: 100%;
}

.remark-slide-number {
    display: none;
}

th {
    color: #dd6892;
    text-align: left;
}
td {
    width: 8em;
}

.red {
    color: red;
}
